@import "../js/jeet/index";
@import "../js/bower_components/breakpoint-sass/stylesheets/breakpoint";
// @include edit();

/* Mixins */
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//Variables
$sub-color: #7F7F7F;
$light-grey: #D2D2D2;
$even-lighter-grey: #EFEFEF;

/* Browser Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Lato, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display:block;
	overflow:auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Basic Styles */
h1, h2, h3, h4 {
	font-family: Lato, Helvetica, sans-serif;
	color: black;
	margin: 5px 0;
}

h1 {font-size: 36px}
h2 {font-size: 24px; font-weight: 400;}
h3 {font-size: 18px; font-weight:300;}
h4 {font-size: 14px; font-weight:300;}

p {
	font-family: Lato, Helvetica, sans-serif;
	margin: 10px 10px 0;
}

a {
	text-decoration: none;
	color: #546e7a;
}

a:hover {
	color: #37474f;
}

.de-emphasize {
	font-family: inherit;
	font-size: 12px;
	color: $sub-color;
}

button {
	border: 1px solid #000;
	background-color: #fff;
	padding: 5px;
	font-size: 14px;
	font-family: Lato, Helvetica, sans-serif;

	:hover {
		background-color: #000;
		color: #fff;
	}
}

.alert {
	padding: 5px 5px 5px 10px;

}

.alert-reminder {
	background-color: #E8F7FF;
	border-left: 4px solid #BFE6FF;
}

.right {
	float: right;
}

.left {
	float: left;
}

.page-wrapper {
	width:100%;
	position:relative;
	overflow: auto;
}

.content-wrapper {
	@include center(1100px, 10px);
	position: relative;
	overflow: auto;
	display: block;
	padding-bottom: 50px;
}

.divider-line {
	@include center(95%);
	border-bottom: 2px solid $even-lighter-grey;
	margin: 10px auto;
}
.divider-line-full {
	width:100%;
	border-bottom: 2px solid $even-lighter-grey;
	margin: 10px auto;
}


.vertical-align { @include vertical-align; }



// Header Styles
header {
	width:100%;
	top:0;

	.nav-wrapper {
		display: block;
		height: 60px;
		font-family: Lato, sans-serif;

		#business-title {
			float: left;
			font-size: 24px;
			margin: 20px 20px;
		}
	}

	nav {
		font-size: 16px;
		font-family: Lato, sans-serif;
		font-weight: 300;
		margin: 23px 20px;
	}

	.primary-nav {
		float: right;
		padding-top:3px;
		a {
			margin-left: 10px;
		}

		.search {
			color: #CCCCCC;
		}
	}
}

.img-div {
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 400px;
	// background-color: #666666;
	overflow: hidden;

	img{
		width: 100%;
		top: -90px;
		position: relative;
		opacity: .8;
	}
}

//Main/Blog Styles
.main-content {
	@include center(95%);
	height: 100%;
	margin: 10px auto;
	padding: 10px;
	display: block;
	overflow: auto;
	font: Lato, Helvetica, sans-serif;

	.call-to-action{
		@include center(500px);
		margin: 20px auto;
		text-align: center;

		nav {
			font-size: 24px;
			font-family: Lato, sans-serif;

			a {
				margin: 0 10px;
			}
		}
	}
}

.section {
	padding-top: 20px;
	display: block;
}

.section-large {
	@include col(.75);
}

.section-small{
	@include col(1/5, $gutter: 6);
}

.post {
	max-height: 300px;
	width: 100%;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	display: block;
	overflow: auto;
	line-height: 20px;

	p {
		margin: 5px;
		color: #7C7C7C;
	}

	img {
		width: 240px;
		height: auto;
		margin-right: 10px;
	}
}

.post-content {
	width: 100%;
	margin-top: 10px;
}

.post-continue {
	float: right;
	margin: 5px 0;
	color: $light-grey;
}

.side-bar {
	font-family: Lato, Helvetica, sans-serif;
	text-align: center;

	.logo {
		width: 90%;
		height: auto;
		opacity: .8;
		margin-bottom: 30px;
	}

	li {
		font-size: 16px;
		margin: 0 0 30px 0;
		text-align: center;
		color: #4E4E4E;
	}

	button {
		font-size: 18px;
		padding: 7px;
	}

	button:hover {
			background-color: #4E4E4E;
			color: #fff;
		}

	label {
		margin-top: 10px;
		font-size: 18px;
		color: $light-grey;
		display: block;

	}

	input {
		margin: 10px 0;
		width: 100%;
		min-width: 90px;
		max-width: 190px;
		height: 30px;
		padding: 2px 4px;
		font-size: 18px;
		color: $light-grey;
		border: 2px solid $light-grey;
	}

	input:focus {
		border-color: $sub-color;
		color: $sub-color;
	}
}

.media-link {
	opacity: .1;
	margin: 10px;
}

.media-link:hover {
	opacity: .3;
}

.page-nav {
	display:block;
	width: 100%;
	overflow: auto;
}

//About Page Styles
 .about {
 	font-family: Lato, Helvetica, sans-serif;
 	font-weight: 300;
 	line-height: 20px;

 	nav {
 		margin-bottom: 30px;
 		a {
 			margin: 10px 15px;
 			font-family: Lato, Helvetica, sans-serif;
 			text-decoration: underline;
 		}
 	}

 	.about-title {
 		margin: 15px 0 15px 15px;
 	}

 	.about-content {
 		margin: 10px 0 0 25px;
 		font-family: inherit;

 		ul {
 			list-style-type: circle;
 		}

 		ol {
 			list-style-type: decimal;
 		}

 		ul, ol {
 			margin: 15px 0 10px 50px;
 		}

 		li {
 			margin: 7px 0;
 		}
 	}

 	.bod {
 		margin: 10px 0 0 15px;
 		display: table;

 		.cycle-4 {
 			@include col(.25, $cycle: 4, $gutter: 8);

 			margin-bottom: 15px;
 			// overflow: auto;
 			display: table-cell;
 			text-align: center;
 			font-family: inherit;
 			// background-color: cornflowerblue;
 		}

 		img {
 			width: 90%;
 			height: auto;
 		}
 	}

 	.contact {
 		@include center(500px);

 		margin-top: 30px;
 		text-align: center;
 		font-family: inherit;
 	}
 }


footer {
	width: 100%;
	height: 25px;
	bottom: 0px;
	left:0;
	display: block;
	position: absolute;
	background-color: #37474f;
}









